<!doctype html>
<html lang="en" ng-app="compare-compounds">
    <head></head>
    <body>
        <div class="container-fluid">
            <div class="row" ng-controller="headerController">
                <form class="col-12 m-3 input-group" ng-submit="clickSubmit()">
                    <input type="text" class="form-control col-4" placeholder="BGC ID" ng-model="bgcId" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" ng-click="clickSubmit()">Submit</button>
                    </div>
                </form>
            </div>
            <hr class="m-1 p-1" />
            <div ui-view></div>
        </div>
    </body>
</html>